# -----------------------------------------
# Python artifacts
# -----------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -----------------------------------------
# Virtual environments
# -----------------------------------------
env/
venv/
.venv/

# -----------------------------------------
# Editor & OS junk files
# -----------------------------------------
.vscode/
.idea/
.DS_Store
Thumbs.db

# -----------------------------------------
# Git
# -----------------------------------------
.git/
.gitignore

# -----------------------------------------
# Notebooks & build/test artifacts
# -----------------------------------------
.ipynb_checkpoints/
*.ipynb
.pytest_cache/
tests/
*.log
build/
dist/

# -----------------------------------------
# Sensitive local configs
# -----------------------------------------
.env
*.env

# -----------------------------------------
# Cache & temp files
# -----------------------------------------
*.tmp
*.bak
*.swp
__MACOSX/
